//@import "compass/css3";
//@import "compass/utilities";
@import "vendor/compass-all";
@import "typography";
@import "css-arrows";
@import "monster-attacks";

@mixin animations {
  .monster-card:hover {
    z-index: 10;
    .action-shelf {
      transform: translateY(100%);
    }
    .sidebar-container{
      transform: translateX(100%) scale(1,1);
      opacity:1;
    }
    .avatar,
    .monster-card-values{
      @include scale(1.2, 1.2);
    }
    .avatar {
      @include animation(green-pulse 1.5s ease-in-out infinite);
    }
  }

  .avatar,
  .monster-card-values {
    transition: all 250ms ease-out;
  }

  $light-green: #08ff35;
  $dark-green: #58ba0c;
  $white: #FFFFFF;

  $start-glow:
  -1px 0px 2px 0.5px $white,
  0px 0px 1px 2px $light-green,
  0 0 2px $light-green,
  0 0 4px $light-green,
  1px 1px 7px $light-green,
  0 -1px 9px $light-green,
  0 -1px 10px $light-green,
  1px 0 12px $dark-green;

  $end-glow:
  1px -1px 2px 0.5px $white,
  0px 0px 2px 4px $light-green,
  0 0 4px $light-green,
  0 0 7px $light-green,
  0 0 8px $light-green,
  -1px 1px 10px $light-green,
  -1px 0 15px $light-green,
  0 1px 17px $dark-green;

  @include keyframes(green-pulse) {
    0% {
      @include box-shadow($start-glow);
    }
    50% {
      @include box-shadow($end-glow);
    }
    100% {
      @include box-shadow($start-glow);
    }
  }
}