//@import "compass/css3";
//@import "compass/utilities";
@import "vendor/compass-all";
@import "typography";
@import "./admin/admin-look-and-feel";

@mixin bookmarklet {
  #bookmarklet-link{
    display: inline-block;
    @include user-select(none);
    @include header-font;
    @include border-radius(10px, 10px);
    @include box-shadow(1px 1px 8px #ccc);

    text-align: center;
    padding: 2px 20px 2px 60px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    position: relative;

    &::before {
      background: url(../img/d20_white.svg);
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 15px;
      width: 30px;
      height: 30px;
      transform: translateY(-50%);
    }

    @include invert-icon-styles("&::before");

    &:hover {
      background-color: $light-background;
      color: $dark-background;
    }
  }
  .instructions{
    @include body-font;
    margin: 0;
    font-size: 120%;
  }
}