@import "CSS:../node_modules/codemirror/lib/codemirror";
//@import "compass/css3";
@import "vendor/compass-all";

@mixin monster-editor($masthead-vertical-space, $content-vertical-padding) {
  $content-header-height: 0;
//  $content-header-height: 30px;
  $content-header-bottom-padding: 5px;
  $content-header-vertical-space: $content-header-height+$content-header-bottom-padding;
  $code-mirror-offset: $masthead-vertical-space+(2*$content-vertical-padding)+$content-header-vertical-space;
  $code-mirror-height: calc(100vh - #{$code-mirror-offset});

  #source {
    display: none;
  }
  .editor {
    @include display-flex;
    @include flex-direction(column);

    h5 {
      @include display-flex;
      @include justify-content(space-between);
      padding: 0 0 $content-header-bottom-padding 0;
      height: $content-header-height;
      line-height: $content-header-height;
      font-family: verdana, sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: italic;
      margin: 0;
      display: none;
    }

    .CodeMirror {
      @include flex(1);
      background-color: #fffffb;
      border: 1px solid #888;
      border-radius: 3px;
      box-shadow: 0 0 3px #ccc inset;
      height: $code-mirror-height;

      &.cm-s-default span.cm-comment {
        color: #baa;
      }
      .CodeMirror-scroll {
        height: $code-mirror-height;
        line-height: 1.2;
      }
    }
  }
}
