@import "CSS:../node_modules/codemirror/lib/codemirror";
//@import "CSS:../node_modules/codemirror/theme/monokai";

.monster-manager-landing{
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  .masthead {
    height: 120px;
    width: 100%;
    position: relative;
  }
  .content{
    position: relative;
    padding: 10px;
    height:100%;
  }
}


.editor {
  position: fixed;
  width: 48%;
  margin-left: 50%;
  font-family: verdana, sans-serif;

  h5 {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    font-style: italic;
    height: 5%;

  }
  #permalink {
    float: right;
  }
}

.CodeMirror {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
  height: 95%;
  max-height: 600px;
  clear: both;
}

.CodeMirror-scroll {
  height: 95%;
  max-height: 600px;
  line-height: 1.2;
}

.cm-s-default span.cm-comment {
  color: #baa;
}