@import 'typography';
@import "compass/css3";
@import "compass/utilities";
@import "monster-values";
@import "avatars";
@import "stat-values";
@import "animations";
@import "statblocks";
@import "action-shelves";
@import "look-and-feel";

$monster-value-size: 35px;
$avatar-size: 70px;
@mixin monster-rows {
  .monster-row {
    @include statblocks;
    @include action-shelves;
    @include animations;
    font-size: 16px;
    @include user-select(none);
    margin: 0 0 50px 0;
    .monster-card {
      position: relative;
      margin-top: 25px;
      width: 482px;
      z-index: 1;
      .card-border {
        @include card-styles;
        width: 370px;
        height: 67px;
        padding: 5px 5px 5px 105px;
        top: 20px;
      }
      .avatar {
        @include avatar($avatar-size);
        position: absolute;
        margin: 0 10px;
        top: -20px;
      }
      .monster-name {
        @include user-select(none);
        @include header-font;
        @include border-radius(10px, 10px);
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
        background-color: white;
        text-align: center;
        padding: 2px 5px;
      }
      .monster-card-values {
        @include monster-values;
        position: absolute;
        width: 100px;
        padding: 0 2px;
        top: 35px;
        .hp {
          float: left;
        }
        .ac {
          float: right;
        }
      }
      .body {
        @include body-font;
        padding: 8px 8px 0 8px;
        text-align: center;
        @include stat-values;
        line-height: normal;
      }
    }
  }
}