@import "compass/css3";
@import "css-arrows";
@import "look-and-feel";
@import "image-covers";

@mixin sidebars {
  .sidebar-container {
    @include card-styles;
    @include css-arrow(left, top, 10px, 30px, $card-bg-color, $card-border-color);
    @include image-covers;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: -10;
    width: 400px;
    padding: 5px;
    transform: translateX(100%) scale(0, 0);
    transition: all 250ms ease-out;
    opacity: 0;
    .sidebar-content {
      max-width: 400px;
      background-size: contain;
      background-repeat: no-repeat;
      @include border-radius(5px);
      @include box-shadow(inset 0px 1px 3px 2px rgba(0, 0, 0, 0.5));
      img {
        visibility: hidden;
        max-width: 400px;
      }
    }
  }
}