@mixin text-stroke($fill-color, $stroke-color, $stroke-width) {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: $stroke-width $stroke-color;

  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  -webkit-text-fill-color: $fill-color;
  color: $fill-color;

  &:not(:-moz-handler-blocked){
    /* Simulated effect for Firefox and Opera */
    text-shadow: 3px 3px 0 $stroke-color,
    -1px -1px 0 $stroke-color,
    1px -1px 0 $stroke-color,
    -1px 1px 0 $stroke-color,
    1px 1px 0 $stroke-color;

  }
}

