@import url(https://fonts.googleapis.com/css?family=Rokkitt|Libre+Baskerville:700|Alegreya+Sans:900);
@import "compass/reset/utilities";
@import "compass/css3";
@import 'monster-rows';
@import 'font-smoothing';
@import './admin/administrator';

#monster-manager-container {
  @include nested-reset;
  @include font-smoothing;
  position: absolute;
  z-index: 100000;
  .monster-manager {
    @include user-select(none);
    position: absolute;
    cursor: move;
    @include administrator;
    @include monster-rows;
  }
}

.no-touch #monster-manager-container{
  left: 100px;
  top: 50px;
}